.bg {
  background: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}
.qr-code {
  border-radius: 13px;
  width: 100%;
  margin-bottom: 22px;
}

.box {
  border-radius: 20px;
  border: 1px solid hsl(212, 45%, 89%);
  width: 347px;
  padding: 14px;
  background: hsl(0, 0%, 100%);
  margin: 0 auto;
}

.box-body {
  padding: 0 8px;
  text-align: center;
}

.title {
  font-weight: 700;
  margin-bottom: 10px;
  color: hsl(218, 44%, 22%);
}

p {
  color: rgba(149, 149, 149, 0.655);
}
